parameters:
    level: max
    paths:
        - src
    ignoreErrors: 
    excludePaths: 
        - ./src/ServiceProviders
        - ./src/Facades
        - ./src/Config.php
    reportUnmatchedIgnoredErrors: true
